.popOver {
  position: absolute;
  display: flex;
  right: 0;
  width: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  background: var(--gray-light-gray-00, #fff);
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);

  @media (min-width: 768px) {
    left: 0;
  }
}

.deleteBtn,
.addBtn {
  display: flex;
  padding: 7px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  color: var(--gray-light-gray-100, #333236);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.addBtn {
  color: var(--linkbrary-primary-color);
  background: var(--linkbrary-gray-10);
}
