.dropdown {
  width: 100px;
  box-shadow: 0 4px 5px 0 #00000026;
  position: absolute;
  margin-top: 30px;
  margin-left: 240px;
}
.dropdownMenu {
  list-style: none;
  width: 100%;
  background: white;
  right: 10px;
  margin: 0;
  padding: 7px 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #333236;
}
