:root {
  --black: #000000;
  --linkbrary-primary-color: #6D6AFE;
  --linkbrary-red: #FF5B56;
  --the-julge-black: #111322;
  --linkbrary-white: #FFFFFF;
  --linkbrary-gray-100: #3E3E43;
  --linkbrary-gray-60: #9FA6B2;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-gray-10: #E7EFFB;
  --linkbrary-bg: #F0F6FF;
  --grey-light: #F5F5F5;
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  --fandom-k-gra-blue-to-pink: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
  --zIndex-least-value: 1;
}
