/* mobile */
@media (min-width:375px) and (max-width:767px) {
    /* 사용자 해상도가 375px 이상일 때 767px이하일때  이 코드가 실행됨. 테블릿과 데스크톱의 공통 코드를 작성한다. */    
    header{
        padding: 13px 32px;
    }

    main {
        display: flex;
      }

    .content1{
        padding: 28px 32px 0px 33px;
    }

    .content1_contents_dim{
        width:100%;
        height: 100%;
    }

    .content2_main .content3_main .contetn4_main .content5_main{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .footer_div{
        height: 160px;
        padding: 32px 32px 64px 32px;
    }

      .footer_nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-links {
        display: flex;
        gap: 30px;
        order: -1;
    }

    .footer_sns {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
    }

    /* 순서 조정 */
    .footer_year {
        margin-top: 60px;
        order: 1; /* 순서 변경 */
    }
}