/* https://naradesign.github.io/media-query.html => media 규칙 이해*/

/* Desktop Device */
    /* 사용자 해상도가 1200px 이상일 때 이 코드가 실행됨. 1200px 이상의 랩탑 또는 데스크톱에 대응하는 코드를 작성한다. */

* {
    box-sizing: border-box;
}

html {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    background: #FFF;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0; /* 브라우저 기본 마진 제거 */
    font-size: 62.5%;
}

header {
    display: flex;
    padding: 20px 200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background: var(--linkbrary-bg, #F0F6FF);
}


.header_in_div{
    display: flex;
    width: 1520px;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

a {
    text-decoration-line: none;
}

title {
    display: none;
}

.gotomain{
    width: 133px;
    height: 24px;
    background-image: url("../svgs/linkbrary.svg");
    border: none;
    margin-right: auto;
}

.loginbutton{
    display: flex;
    width: 128px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    margin-left: auto;
    
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content1{
    display: flex;
    /* width: 1920px; */
    width: 100%;
    height: 953px;
    padding: 70px 360px 0px 360px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background: #F0F6FF;
}

.content1_word_info_text{
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; 
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content1_word_info_text_normal_text{
    color: #000;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    -webkit-text-fill-color: initial; 
    background-color: #F0F6FF;
}

.signup{
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border:none;
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.content1_contents{
    display: grid;
    place-items: center;
    width: 1200px;
    height: 590px;
    padding: 40px 41px -119px 41px;
    background: #F0F6FF;
}

.content1_contents_dim{
    width: 1118px;
    height: 659px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.content2{
    display: flex;
    /* width: 1920px; */
    width: 100%;
    height: 620px;
    padding: 120px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content2_main{
    display: flex;
    width: 998px;
    height: 450px;
    align-items: center;
    gap: 157px;
}

.content2_save_link{
    display: flex;
    width: 291px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content2_want_link_normal{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.content2_want_link{
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content2_comment{
    color: #6B6B6B;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.content2_comment_sample{
    width: 550px;
    height: 450px;
    border-radius: 15px;
    /* background: #F0F6FF; */
    background-image: url("../images/right_image.png");
    background-repeat : no-repeat;
    background-size : cover;
}

.content3{
    display: flex;
    /* width: 1920px; */
    width: 100%;
    height: 550px;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
}

.content3_main{
    width: 998px;
    height: 900px;
    display: flex;
    align-items: center;
    gap: 157px;
}

.content3_popup{
    display: flex;
    width: 550px;
    height: 450px;
    justify-content: center;
    align-items: center;
    background: var(--linkbrary-bg, #F0F6FF);
    position: relative;
}

.content3_popup_img{
    position: absolute; 
    top: 114px;
    left: 68px;
    right: 68px;
    bottom: 66px;
    width: 414px;
    height: 270px;
    background: url("../images/folder_change_form.png"), #F0F6FF 50% / cover no-repeat;
    background-size: 414px 270px;
    background-repeat: no-repeat;
    
}


.content3_save_folder{
    display: flex;
    width: 291px;
    height: 172px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content3_set_normal{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.content3_set{
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.content3_set_comment{
    align-self: stretch;
    color: #6B6B6B;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.content4{
    /* width: 1920px; */
    width: 100%;
    height: 550px;
    display: flex;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
}

.content4_main{
    display: flex;
    width: 998px;
    height: 450px;
    align-items: center;
    gap: 157px;
}

.content4_save_link{
    display: flex;
    width: 291px;
    height: 196px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content4_set_normal{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.content4_set{
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content4_share_folder{
    width: 570px;
    height: 469px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    position: relative;
}

.content4_share_box{
    top: 121px;
    right: 77px;
    bottom: 77px;
    left: 77px;
    width: 416px;
    height: 271px;
    flex-shrink: 0;
    background: url("../images/share_folder.png"), lightgray 50% / cover no-repeat;
    position: absolute;
}

.content5{
    /* width:  1920px; */
    width: 100%;
    height: 550px;
    display: flex;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
}

.content5_main{
    display: flex;
    width: 998px;
    height: 450px;
    align-items: center;
    gap: 157px;
}

.content5_leftbox{
    width: 550px;
    height: 450px;
    border-radius: 15px;
    background: #F0F6FF;
    position: relative;
    overflow: hidden;
}

.content5_leftbox_img{
    width: 619px;
    height: 584px;
    top: 55px;
    left: 60px;
    flex-shrink: 0;
    border-radius: 15px;
    background: url("../images/left_img.png"), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
}

.content5_search_link{
    display: flex;
    width: 291px;
    height: 148px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}

.content5_set_normal{
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.content5_set{
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer{
    width: 100%;
    display: flex;
    height: 280px;
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 30px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.02);
}

.footer_div{
    /* width: 1920px; */
    width: 100%;
    display: flex;
    height: 160px;
    padding: 32px 104px 64px 104px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--the-julge-black, #111322);
}

.footer_nav{
    width:1712px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background: var(--the-julge-black, #111322);
}

.footer_year{
    color: #676767;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--the-julge-black, #111322);
}

.footer_privacy{
    color: #CFCFCF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--the-julge-black, #111322);
}

.footer_FAQ{
    color: #CFCFCF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--the-julge-black, #111322);
}

/* #footer_sns{
    width: 112px;
    height: 20px;
} */

.footer_sns a{
    display: inline-block;
    width: 20px;
    height: 20px;
}

.footer_facebook{
    background-image: url("../svgs/facebook.svg");
}

.footer_twitter{
    background-image: url("../svgs/twitter.svg");
}
.footer_youtube{
    background-image: url("../svgs/youtube.svg");
}
.footer_instagram{
    background-image: url("../svgs/instagram.svg");
}
