/* Tablet Device */
@media (min-width:768px) and (max-width: 1199px) {
    /* 사용자 해상도가 768px 이상이고 1199px 이하일 때 이 코드가 실행됨. 아이패드 또는 비교적 작은 해상도의 랩탑이나 데스크톱에 대응하는 코드를 작성한다. */

   header{
    padding: 20px 32px;
   }

   footer{
    padding: 20px 32px;
   }

   .content1_contents_dim{
        width: 650.303px;
        height: 383.114px;
    }

    .footer_nav{
        width: 100%;
    }
}



