
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Pretendard";
}

html,
body {
    font-size: 62.5%;
    font-style: normal;
    line-height: normal;
    background: var(--Linkbrary-bg);
    font-weight: var(--basic-font-weight);
}

a {
    color: var(--Linkbrary-white);
    text-decoration: none;
    cursor: pointer;
}

button {
    color: var(--Linkbrary-white);
    cursor: pointer;
}