/* 테블릿 Size (768px 이상 1199px이하) */
@media (max-width: 1199px) {
  .gnb {
    justify-content: center;
    padding: 0;
    column-gap: 538px; /* 화면 1199px 시점 로고와 버튼 사이 넓이 */

    @media (max-width: 863px /* 좌우 여백 32px되는 시점 화면 가로 픽셀 */) {
      justify-content: space-between;
      column-gap: 0;
      padding: 32px;
    }
  }

  #block {
    display: block;
  }

  .header-main {
    padding-top: 4rem;
  }

  .header-img {
    width: 69.8rem;
    height: auto;
  }

  article {
    padding-top: 3rem;
  }

  section {
    column-gap: 5.1rem;
  }

  .section-image {
    width: 38.5rem;
    height: auto;
  }

  /*그리드 설정 코드 (홀수)*/
  section:nth-of-type(odd) {
    grid-template:
      ". image"
      "title image"
      "description image"
      ". image"
      /29.1rem 38.5rem;
  }
  /*그리드 설정 코드 (짝수)*/
  section:nth-of-type(even) {
    grid-template:
      "image ."
      "image title"
      "image description"
      "image ."
      /38.5rem 29.1rem;
  }
}
