body {
    background-color: #f0f6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 238px;
    padding-bottom: 252px;
}
html {
    font-size: 62.5%;
}

.content_area {
    text-align: center;
}

.logo_img {
    width: 210px;
    height: 38px;
}

div h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

div h1 span a {
    color: #6d6afe;
}

input {
    width: 400px;
    height: 60px;
    border: 1px;
    box-sizing: border-box;
    border-color: #ccd5e3;
    border-style: solid;
    border-radius: 8px;
    margin-top: 12px;
    padding: 18px 15px;
}

input:focus {
    outline: 1px solid #6d6afe;
}

form div.pw_inputbox {
    position: relative;
}

.eye-off {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
}

form > .label_pw {
    margin-top: 24px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.login_btn {
    background: linear-gradient(91deg, #6d6afe, #6ae3fe);
    border-radius: 8px;
    height: 54px;
    width: 400px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.social_login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7effb;
    border: 1px;
    border-style: solid;
    border-color: #ccd5e3;
    border-radius: 8px;
    height: 66px;
    width: 400px;
    margin-top: 32px;
}
.social_login h1 {
    font-size: 14px;
    color: #373740;
    position: relative;
    left: 24px;
}
.social_login div {
    display: flex;
    align-items: center;
    gap: 0 16px;
    position: relative;
    right: 24px;
}
.social_login div a img {
    width: 42px;
    height: 42px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    html,
    body {
        font-size: 31.25%;
    }

    body {
        padding-top: 238px;
        padding-bottom: 252px;
        padding-left: 32px;
        padding-right: 32px;
    }

    input {
        width: 100%;
        max-width: 400px;
    }
    .content_area {
        width: 100%;
        max-width: 400px;
    }
    .login_btn {
        width: 100%;
        max-width: 400px;
    }

    .social_login {
        width: 100%;
        max-width: 400px;
    }
}
