.card-container {
  padding-top: 3.2rem;
  margin-inline: auto;

  display: grid;
  grid-template-columns: minmax(32.5rem, 100%);
  /* grid-auto-rows: minmax(32.7rem, 100%); */
  grid-auto-rows: 32.7rem;
  justify-content: center;
  row-gap: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(34rem, 1fr));
    grid-auto-rows: 33.4rem;

    gap: 2.5rem 2.4rem;
  }

  @media screen and (min-width: 1124px) {
    gap: 2.5rem 2rem;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(3, 34rem);
    grid-auto-rows: minmax(33.4rem, 1fr); */

    /* grid-template-columns: repeat(3, 34rem); */
    grid-template-columns: repeat(3, 34rem);
    grid-auto-rows: 33.4rem;
  }
}
