.addLinkForm {
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background: var(--linkbrary-bg);

  @media (min-width: 768px) {
    padding: 6rem 0 9rem 0;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 3.2rem;
  @media (min-width: 768px) {
    max-width: 86.3rem;
  }

  @media (min-width: 1200px) {
    max-width: 192rem;
    padding: 0 20rem;
  }
}

.formBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;

  padding: 0.8rem 1rem;
  color: var(--linkbrary-gray-60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  border-radius: 15px;
  border: 1px solid var(--linkbrary-primary-color);
  background: var(--linkbrary-white);

  @media (min-width: 768px) {
    padding: 1.6rem 2rem;
  }

  @media (min-width: 1200px) {
  }
}

.inputBox {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

img {
  width: 2rem;
  height: 2rem;
}
input {
  border: none;
}

button {
  border: 0px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  padding: 10px 16px;
  color: var(--Grey-Light, #f5f5f5);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
