@import '/shared/reset.css';
@import '/shared/color.css';
@import './common.css';

.password-form {
  padding-bottom: 30px;
}

.password-form__switch-icon {
  position: absolute;
  right: 15px;
  top: 52px;
}
