.drop-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  width: 10rem;
  z-index: 2;

  background: var(--gray-light-gray-00, #fff);
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}

.drop-down.left {
  right: 1.7rem;
}

.drop-down__item {
  width: 100%;
  display: flex;
  padding: 0.7rem 0;
  justify-content: center;
  align-items: center;

  color: var(--gray-light-gray-100, #333236);
  font-size: 1.4rem;
}

.drop-down__item:hover {
  color: var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-gray10, #e7effb);
}

.kebab {
  padding: 0;
  font-size: 2.1rem;
  line-height: 1.7rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
