@import '../../color.css';

.folder-menu {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-filter {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Linkbrary-primary-color);
  border-radius: 5px;
  padding: 8px 12px;
}

.filter-btn__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Linkbrary-white);
  border: 1px solid var(--Linkbrary-primary-color);
  background-color: var(--Linkbrary-primary-color);
  border-radius: 5px;
  padding: 8px 12px;
}

.selected-folder {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.selected-folder-name {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.2px;
}

.selecter-folder-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.shared-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
}

.change-name-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
}

.card-list {
  width: 1060px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 100px;
}

.no-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 24px;
  padding: 41px 0 35px 0;
}

.add-folder-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 24px;
  border: 1px solid var(--Linkbrary-white);
  border-radius: 20px;
  font-size: 1.6rem;
  letter-spacing: -0.3px;
  background-color: var(--Linkbrary-primary-color);
  color: #ffffff;
  position: fixed;
  bottom: 101px;
  opacity: 0;
}

@media (max-width: 1124px) {
  .folder-menu,
  .selected-folder,
  .card-list {
    width: calc(100vw - 64px);
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .folder-filter {
    font-size: 1.4rem;
  }

  .filter-btn {
    padding: 6px 10px;
  }

  .selected-folder-name {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.2px;
  }

  .add-icon {
    opacity: 0;
  }

  .selected-folder {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .add-folder-btn {
    opacity: 1;
  }
}
