.FilterButton {
  border-radius: 0.5rem;
  border: 0.1rem solid var(--primary);
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  height: 3.5rem;
  display: flex;
  align-items: center;
}
