@import url(./color.css);

/* signin page css */
body {
  background: var(--linkbrary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.signin-top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.signup-text {
  font-family: Pretendard;
}

.signup-link {
  color: var(--linkbrary-primary-color);
  font-weight: 600;
  text-decoration: underline;
}

.email-password-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1.87rem;
}

.email-password-form div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.password-field {
  position: relative;
}

.eye-off-icon {
  width: 16px;
  position: absolute;
  top: 1.12rem;
  right: 0.94rem;
}

label {
  color: #000;
  font-family: Pretendard;
  font-size: 0.875rem;
}

input {
  width: 25rem;
  padding: 1.125rem 0.9375rem;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);
  box-sizing: border-box;
}

input:focus {
  border: 1px solid var(--linkbrary-primary-color);
}

.login-button-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.88rem;
}

.login-button {
  width: 25rem;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.login-button a {
  color: var(--grey-light);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-weight: 600;
}

.social-login-button {
  display: flex;
  width: 25rem;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
  box-sizing: border-box;
}

.social-login-button span {
  color: var(--linkbrary-gray-100);
  font-family: Pretendard;
  font-size: 0.875rem;
}

.social-login-button-img {
  display: flex;
  gap: 1rem;
}

.social-img-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-img,
.kakao-img {
  position: absolute;
}