@import url(./color.css);

/* signin page css */
body {
  background: var(--linkbrary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-text {
  font-family: Pretendard;
}

.login-link {
  color: var(--linkbrary-primary-color);
  font-weight: 600;
  text-decoration: underline;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1.87rem;
  width: 25rem;
}

.signup-form div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.password-field,
.password-repeat-field {
  position: relative;
}

.eye-icon,
.repeat-eye-icon {
  width: 1rem;
  position: absolute;
  top: 1.12rem;
  right: 0.94rem;
}

label {
  color: #000;
  font-family: Pretendard;
  font-size: 0.875rem;
}

.signup-input {
  width: 100%;
  padding: 1.125rem 0.9375rem;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);
  box-sizing: border-box;
}

.signup-input:focus {
  border: 1px solid var(--linkbrary-primary-color);
}

.email-result,
.password-result,
.password-repeat-result {
  color: var(--linkbrary-red);
  font-family: Pretendard;
  font-size: 0.875rem;
}

.signup-button-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.88rem;
  width: 25rem;
}

.signup-button {
  width: 100%;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: var(--grey-light);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-weight: 600;
}

.social-signup-button {
  display: flex;
  width: 100%;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
  box-sizing: border-box;
}

.social-signup-button span {
  color: var(--linkbrary-gray-100);
  font-family: Pretendard;
  font-size: 0.875rem;
}

.social-signup-button-img {
  display: flex;
  gap: 1rem;
}

.social-img-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-img,
.kakao-img {
  position: absolute;
}

@media (max-width: 768px) { 
  .signup-form,
  .signup-button-set {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 25rem;
  }
}