:root {
    /* color */
    --Linkbrary-primary-color: #6D6AFE;
    --gra-purplebule-to-skyblue: #6AE3FE;
    --Linkbrary-white: #FFFFFF;
    --Linkbrary-red: #FF5B56;
    --The-julge-black: #111322;
    --Grey-Light: #F5F5F5;
    --Linkbrary-gray10: #E7EFFB;
    --Linkbrary-gray20: #CCD5E3;
    --Linkbrary-gray100: #373740;
    --Linkbrary-gray60: #9FA6B2;
    --Linkbrary-bg: #F0F6FF;

    /* font-size */
    --btn-font-size: 1.125rem;
    --title-font-size: 4rem;
    --side-title-font-size: 3rem;
    --foot-font-size: 1rem;
    --label-font-size: 0.875rem;

    /* font-weight */
    --small-font-weight: 400;
    --basic-font-weight: 600;
    --big-font-weight: 700;

    /* font-family */
    --basic-font-family: Pretendard;

}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--Linkbrary-bg);
    font-family: var(--basic-font-family);
    font-style: normal;
    line-height: normal;
    font-weight: var(--basic-font-weight);
}

.index-header {
    background: var(--Linkbrary-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 1.25rem 200px;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    z-index: 1;
}

h3 {
    font-size: var(--side-title-font-size);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--Linkbrary-white);
}

button {
    color: var(--Linkbrary-white);
    cursor: pointer;
}


.logo {
    width: 8.3125rem;
    height: 1.5rem;
}

header .login-btn {
    width: 8rem;
    padding: 1rem 1.25rem;
    border: 1px solid var(--Grey-Light);
    border-radius: 0.5rem;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    font-size: var(--btn-font-size);
    font-weight: var(--basic-font-weight);
}

.content-01 {
    margin: 7rem 22.5rem 0;
    text-align: center;

}

.content-01 h2 {
    font-size: var(--title-font-size);
    font-weight: var(--big-font-weight);
    line-height: 5rem;
}

.content-01 h2 span {
    background: linear-gradient(90deg, #6D6AFE, #ff9f9f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-add-btn {
    display: block;
    margin: 2.5rem auto;
    border: 1px solid var(--Grey-Light);
    border-radius: 0.5rem;
    background: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    padding: 1rem 5rem;
    font-size: var(--btn-font-size);
    font-weight: var(--basic-font-weight);
}


.content-01 .bg {
    margin: 0 auto;
    border-radius: 1.5625rem;
    width: 69.875rem;
    height: 44.18475rem;
    background: url('images/1.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.content-02 {
    background: var(--Linkbrary-white);
    margin-top: -7.5rem;
    padding-bottom: 7.5em;
}



.info {
    display: flex;
    padding: 3.125rem 28.8125rem;
    justify-content: center;
    align-items: center;
    gap: 9.81rem;
}

.info:first-child {
    padding: 7.5rem 28.8125rem 3.125rem 28.8125rem;
}


.image {
    background: var(--Linkbrary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image.cut {
    overflow: hidden;
    width: 34.375rem;
    height: 28.125rem;
}

.image.cut img {
    width: 15.25rem;
    height: 14.9375rem;
    flex-shrink: 0;
}

.download {
    position: relative;
    flex-shrink: 0;
}

.image.cut .download .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.875rem;
    height: 2.875rem;
    flex-shrink: 0;
}

.image.manage {
    display: flex;
    width: 34.375rem;
    padding: 7.125rem 4.25rem 4.125rem 4.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem;
    background: var(--Linkbrary-bg);

}

.image.manage img {
    width: 25.875rem;
    height: 16.875rem;
}

.image.share {
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
        url('images/1.png');
    background-repeat: no-repeat;
    background-size: 60rem 35rem;
    background-position: center;
    background-position-x: -11.3rem;
    width: 35.625rem;
    height: 29.3125rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    position: relative;
}

.image.share img {
    width: 26rem;
    height: 16.9375rem;
    position: absolute;
    top: 7.56rem;
    bottom: 4.81rem;
    left: 4.81rem;
    right: 4.81rem;

}

.image.search {
    width: 34.375rem;
    height: 28.125rem;
    border-radius: 0.9375rem;
    background: var(--Linkbrary-bg);
    overflow: hidden;
    position: relative;
}

.image.search img {
    width: 38.6875rem;
    height: 36.5rem;
    flex-shrink: 0;
    position: absolute;
    top: 3.44rem;
    left: 3.75rem;
}

.gradient-1 {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-2 {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-3 {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-4 {
    background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.index-footer {
    background: var(--The-julge-black);
    display: flex;
    height: 10rem;
    padding: 2rem 6.5rem 4rem 6.5rem;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    justify-content: space-between;
    font-family: Abel;
    font-size: var(--foot-font-size);
    font-weight: var(--small-font-weight);
}

.index-footer span {
    color: #676767;
    text-align: center;
}

.index-footer ul {
    list-style: none;
    display: flex;
    gap: 1.88rem;
}

.index-footer ul a {
    color: #CFCFCF;
}

.index-footer ul .links {
    gap: 0.75rem;
}

/* signin */

.signin {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90rem;
    padding: 14.875rem 0rem 15.75rem 0rem;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.88rem;
}

.flex-logo-gap-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.flex-logo-gap-1 a {
    color: var(--linkbrary-primary-color, #6D6AFE);
    font-size: 1rem;
}

.flex-logo-gap-1 span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.big-logo {
    width: 13.16144rem;
    height: 2.375rem;
}

.sign-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
}

.sign-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.label-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.sign-inputs label {
    font-size: var(--label-font-size);
    font-weight: var(--small-font-weight);
}

.sign-inputs input {
    display: flex;
    width: 25rem;
    padding: 1.125rem 0.9375rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--Linkbrary-white);
}

.sign-inputs input:focus {
    border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
    outline: none;
}

.sign-submit {
    margin-top: 0;
    display: flex;
    width: 25rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    border: 1px solid var(--Grey-Light);
    border-radius: 0.5rem;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    font-weight: var(--basic-font-weight);
    font-size: var(--btn-font-size);
}

.social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);
    font-size: 0.875rem;
    font-weight: var(--small-font-weight);
    color: var(--Linkbrary-gray100, #373740);
}

.social-icons {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.social-icon {
    width: 2.625rem;
    height: 2.625rem;
}

.social-icon .icon {
    position: relative;
    top: -2.3rem;
    left: 0.7rem;
    width: 1.375rem;
    height: 1.375rem;
}

.icon.kakao {
    top:-2.2rem;
    left: 0.6rem;
    width: 1.625rem;
    height: 1.5rem;
}

/* signup */

.signup-main {
    margin: 0 auto;
    display: flex;
    width: 90rem;
    padding: 14.875rem 0rem 7.25rem 0rem;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.signup-container section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.88rem;
}

.eye {
    position: absolute;
    right: 1.2rem;
    top: 3rem;
    width: 1rem;
    height: 1rem;
}