.hero-banner {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;

  width: 100%;
  max-width: 100%;
  /* padding-top: 1rem; */
  padding-block: 7.3rem 4rem; /* pt: 1rem + 6.3rem(gnb height) */
  margin: 0 auto;

  background: var(--Linkbrary-bg, #f0f6ff);

  @media screen and (width >= 768px) {
    row-gap: 2rem;
    /* padding-top: 2rem; */
    padding-block: 11.3rem 6rem; /* 2rem + 9.3rem(gnb height) */
  }

  /* todo: 위랑 스타일 중복됨. 지우기 */
  @media screen and (width >= 1200px) {
    row-gap: 2rem;
    /* padding-top: 2rem; */
    padding-top: 11.3rem; /* 2rem + 9.3rem(gnb height) */
  }
}

.avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  row-gap: 0.6rem;

  @media screen and (min-width: 768px) {
    row-gap: 1.2rem;
  }
}

.avatar {
  width: 4rem;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 6rem;
  }
}

.folder-owner {
  color: var(--text-color-light-mode, #000);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;

  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 2.4rem; /* 150% */
  }
}

.folder-name {
  color: #000;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02rem;

  margin: 0;

  @media screen and (min-width: 768px) {
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-size: 4rem;
    font-weight: 600;
    line-height: normal;
  }
}
