.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;

  width: 100%;
  max-width: 100%;
  /* padding-top: 1rem; */
  padding-block: 7.3rem 4rem; /* pt: 1rem + 6.3rem(gnb height) */
  margin: 0 auto;

  background: var(--Linkbrary-bg, #f0f6ff);

  @media screen and (width >= 768px) {
    row-gap: 2rem;
    /* padding-top: 2rem; */
    padding-block: 11.3rem 6rem; /* 2rem + 9.3rem(gnb height) */
  }

  /* todo: 위랑 스타일 중복됨. 지우기 */
  @media screen and (width >= 1200px) {
    row-gap: 2rem;
    /* padding-top: 2rem; */
    padding-top: 11.3rem; /* 2rem + 9.3rem(gnb height) */
  }
}
