@import '../../../color.css';

.card {
  position: relative;
  width: 340px;
  height: 334px;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.card:hover {
  border: 2px solid var(--Linkbrary-primary-color);
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card:hover .card-image {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.card > img {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
}

.container-text > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formatted-date {
  font-size: 1.3rem;
  color: #666;
}

.description {
  height: 49px;
  font-size: 1.6rem;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.current-date {
  font-size: 1.4rem;
  color: #333;
}
