.log-in-button {
  color: var(--Grey-Light, #f5f5f5);
  font-size: 18px;
  font-weight: 600;

  display: flex;
  flex-shrink: 0;
  width: 128px;
  height: 54px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}
