.section__p-hide{
    display: none;
}


.index-header{
    background-color: #F0F6FF;

}

/* 네비게이션 바 */
.index-nav{
    padding: 20px 200px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--linkbrary-bg);
    width: 100%;
}

.nav__btn-login{
    width: 128px;
    padding: 16px 20px;
    height: 53px;
}

/* 메인 글 + 링크 추가하기 버튼 + 사진 */
.header-main{
    padding: 164px 360px 0px 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-main__h1{
    text-align: center;
    font-family: Pretendard-B;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
    margin: 0;
    width: 708px;
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  

.header-main__btn-add{
    width: 350px;
    padding: 16px 20px;
    margin: 40px 0;
}
.header-main__img{
    width:1200px;
    height: 590px;
}

/* 본문 */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main section{
    width: auto;
    height: 450px;
    display: flex;
    align-items: center;
    margin: 50px 0;
    gap: 157px;
    
}

.main section .section__h1-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.main .section__h1{
    font-family: Pretendard-B;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.main section .section__p{
    color: #6B6B6B;
    font-family: Abel;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 100%;
    
}

.main section .img-box img{
    width: 550px;
    height: 450px; 
}

.main section .section__h1-black,
.header-main__h1-black{
    background: linear-gradient(#000,#000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* 본문의 section들 */
/* 첫번째 section */
.main section:first-child{
    margin-top: 120px;
}


.main section:first-child .section__h1{
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main section:first-child .img-box{
    border-radius: 15px;
}



/* 두번째 section */
.main section:nth-child(2) .section__h1{
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}


.main section:nth-child(2) .img-box{
    border-radius: 15px;
}



/* 세번째 section */
.main section:nth-child(3) .section__h1{
    background-image: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main section:nth-child(3) .img-box{
    border-radius: 25px;
}



/* 네번째 section */
.main section:last-child .section__h1-box{
    width: 291px;
}

.main section:last-child .section__h1{
    background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main section:last-child .img-box{
    border-radius: 15px;
}




/* footer */
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16rem;
    background-color:  #111322;
}

.footer-nav{
    display: grid;
    justify-content: space-between;
    grid-template:
      "footer-info icons"
      ". ." 1fr
      "copyright .";
    /* padding: 32px 104px 64px 104px; */
    padding: 3.2rem;
    width: 100%;
    color: #CFCFCF;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        grid-template: "copyright footer-info icons";
        height: fit-content;
        max-width: 192rem;
        padding: 3.2rem 10.4rem 0;
      }
}


.footer-nav div:nth-child(2) a:first-child{
    margin-right: 30px;
 }


.copyright {
  grid-area: copyright;

}

.footer-info {
  grid-area: footer-info;
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}


.sns {
  grid-area: sns;
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}


 @media (min-width:768px) and (max-width: 1199px){

    .main section{
        gap: 51px;
    }

    .main section .img-box img{
        width: 385px;
        height: 315px;
    }
    
    .header-main__img{
        width:698px;
        height: 343px;
    }

    .index-nav{
        width: 782px;
        padding: 20px 32px;
    }

}

@media (min-width:375px) and (max-width: 767px){
  
    .header-main{
        margin-bottom: auto ;
        padding: 28px 32px 0;
        width: 100%;
    }
    .header-main__img{
        width: 325px;
        height: 160px;
    }
    .header-main__h1{
        width: 100%;
        height: auto;
        font-size: 32px;
        line-height: 42px; /* 131.25% */
        margin-top: 100px;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding: 40px 32px 36px;
        margin: 0 auto;
        height: auto;
    }

    .main section:nth-child(2),
    .main section:last-child{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 40px 32px 36px;
        margin: 0 auto;
        height: auto;
    }

    .main section .section__p{
     display: none;
        
    }

    .section__p-hide{
        display: block;
        font-size: 15px;
        line-height: 150%;
    }

    br{
        display: none;
    }
    .main section .section__h1{
        font-size: 24px;
    }

    .main section:first-child{
        margin-top: 0;
    }

    .main section .img-box img{
        width: 100%;
        height: auto;
        margin: 20px auto 16px;

    }
}
