*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.headerArea{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #edf7ff;
}

.nav{
  width: 100%;
  padding: 30px 200px;
  display: flex;
  justify-content: space-between;
  background-color: #edf7ff;
}

.profileBox{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImage{
  background-color:#6D6AFE ;
  width: 30px;
  padding: 8px;
  border-radius: 50%;
}

.headerUnder{
  margin-top: 20px;
  }

.bookmarkArea{
  text-align: center;
  gap: 20px;
}

.userLogo {
  height: 60px;
}

.userName{
  font-size: 16px;
  font-weight: 400;
}

.bookmarkText{
  margin-top: 0;
  font-size: 40px;
  font-weight: 600;
}

