@import '../color.css';
@import '../reset.css';

.header {
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: var(--Linkbrary-bg);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  max-width: 192rem;
  padding: 33px 200px;
}

.linkbrary-icon img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.user-email {
  font-size: 1.4rem;
  font-weight: 400;
}

.header__btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    91deg,
    var(--Linkbrary-primary-color) 0%,
    #6ae3fe 100%
  );
  color: #f5f5f5;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 16px 20px;
  flex-shrink: 0;
  width: 128px;
}

@media (max-width: 1199px) {
  .nav {
    width: calc(100vw - 64px);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nav {
    max-width: 80rem;
    padding: 33px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .nav {
    padding: 18px 0;
  }

  .btn {
    padding: 10px 16px;
  }

  .header__btn-login {
    width: 80px;
  }

  .linkbrary-icon img {
    height: 16px;
  }

  .user-email {
    display: none;
  }
}
