.shared-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 60px;
  background: var(--linkbrary-bg, #f0f6ff);
}

.shared-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 47px;
  height: 47px;
}

.shared-owner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shared-owner-name {
  line-height: 24px;
}

.shared-name {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .shared-info-container {
    padding: 10px 0 40px;
  }
  .shared-owner-name {
    font-size: 14px;
    line-height: normal;
  }
  .shared-name {
    font-size: 32px;
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
}
