@import '../App.css';

.folder {
  background-color: var(--Linkbrary-bg);
}

.folder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.owner-name {
  font-size: 1.6rem;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 20px;
}

.folder-name {
  font-size: 4rem;
  font-weight: 600;
}

@media (min-width: 375px) and (max-width: 767px) {
  .folder-container {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .owner-image {
    width: 40px;
  }

  .owner-name {
    font-size: 1.4rem;
    line-height: normal;
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .folder-name {
    font-size: 3.2rem;
    font-weight: 600;
  }
}
