html,
body {
  font-size: 62.5%;
}
.addLinkArea {
  text-align: center;
  background-color: #f0f6ff;
  height: 219px;
  padding: 60px 320px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .addLinkArea {
    padding: 60px 200px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .addLinkArea {
    padding: 40px 32px;
  }
}
