.wrap {
  width: 100%;
  height: 100%;

  position: relative;
}

#contents {
  /* height: 100vh; */
  padding-top: 14.88rem;

  /* display: flex; */
}

.signin-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;

  gap: 2rem;

  box-sizing: border-box;
  width: fit-content;
  height: max-content;
  margin: 0 auto;
}

.social-login-box {
  list-style-type: none;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1.88rem;

  margin: 0 auto;
}

.member-check-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-self: center;

  gap: 1rem;
}

.member-check-box {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;

  & p {
    color: var(--black, #000);

    /* Linkbrary/body1-regular */
    font-family: Pretendard;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    font-size: 1rem;
    font-style: normal;
  }

  & a {
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;

    color: var(--linkbrary-primary-color, #6d6afe);
    text-decoration: underline;
    text-underline-position: below;
    text-decoration-color: currentColor;
    text-underline-offset: 0.2em;

    color: var(--linkbrary-primary-color, #6d6afe);
  }
}

.logo {
  width: 100%;

  display: block;
  flex-grow: 1;
}

.email-pw-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.email-input-box,
.pw-input-box {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.email-text,
.pw-text {
  color: var(--black, #000);

  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.email-input,
.pw-input {
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-white, #fff);

  display: flex;
  width: 25rem;
  padding: 1.125rem 0.9375rem;
  justify-content: center;
  align-items: center;

  color: var(--linkbrary-gray-100, #373740);
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

:where(.email-input, .pw-input):is(:active, :focus, :focus-visible) {
  border-color: var(--linkbrary-primary-color, #6d6afe);
}

.pw-input-wrap {
  position: relative;
}

.email-input {
  letter-spacing: 0.125rem;
}
.pw-input {
  letter-spacing: 0.2rem;
}

.icon-pw-eye {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);

  width: 1rem;
  height: 1rem;

  background-image: url('/public/images/signin-eye-off.svg');
}

.form-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
}

.form-btn {
  display: flex;
  width: 100%;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.5rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, var(--linkbrary-primary-color) 0.12%, #6ae3fe 101.84%)
  );

  color: var(--grey-light, #f5f5f5);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-login-wrap {
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-gray-10, #e7effb);
}

.menu-text {
  color: var(--linkbrary-gray-100, #373740);

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-login-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
