body {
  display: flex;
  height: 800px;
  background-color: #F0F6FF;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.Linkbrary-login {

  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login-header,
.signup-header {

  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 211px;
  height: 38px;
}

.login-signup {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.login-signup-link,
.signup-longin-link {
  color: #6D6AFE;
  font-weight: 600;
  text-decoration: underline;
  line-height: normal;
}

.login-input,
.signup-input {

  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.login-info,
.signup-info {

  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

label, span {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #fff;
}

input:focus {
  border-color: #6D6AFE;
  outline: none;
}

.pw-box {
  position: relative;
}

.eye-off{
  position: absolute;
  top: 18px;
  right: 15px;
}

button {
  color: #F5F5F5;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width:400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: none;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.social-login,
.social-signup {
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background: #E7EFFB;
}

.social-logo {
  align-items: flex-start;
  gap: 16px;
}

.google-logo,
.kakao-logo {
  position: relative;
  width: 42px;
  height: 42px;
}


.icon {
  position: absolute;
  inset: 0;
}

.ic {
  position: absolute;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  inset: 10px;
}

.error {
  border: 1px solid red;
}

.error-message {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}