.cards__search-bar {
  box-sizing: border-box;
  width: 1060px;
  padding: 15px 16px;
  border-radius: 10px;
  background: #f5f5f5;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 40px;
}

.cards__search-bar img {
  width: 16px;
  height: 16px;
}

.cards__search-bar > input {
  width: 100%;
  background-color: #f5f5f5;
}

/* tablet */
@media (max-width: 1123px) {
  .cards__search-bar {
    width: 704px;
  }
}

/* smartPhone */
@media (max-width: 767px) {
  .cards__search-bar {
    width: 100%;
  }
}
