.container-add-link {
  width: 100%;
  display: flex;
  padding: 6rem 19rem 9rem;
  flex-direction: column;
  align-items: center;
}

.add-link {
  display: flex;
  max-width: 80rem;
  width: 100%;
  padding: 1.6rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;

  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
}

.add-link-input {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 80%;
}

.link-image {
  width: 2rem;
  height: 2rem;
}

.link-input {
  width: 100%;
  border: none;
  outline: none;
}

.link-input::placeholder {
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-size: 1.6rem;
  line-height: 2.4rem; /* 150% */
}

.cta-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3.7rem;
  cursor: pointer;

  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
}

/* 링크 추가 input 반응형 여백 */
@media (max-width: 1199px) {
  .container-add-link {
    padding: 6rem calc((100% - 78.32rem) / 2) 9rem;
  }
}
@media (max-width: 864px) {
  .container-add-link {
    padding: 6rem 3.2rem 9rem;
  }
}

@media (max-width: 767px) {
  .container-add-link {
    padding: 2.4rem 3.2rem 4rem;
  }
}
