
.mainArea {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBOX {
  width: 1100px;
}

.formBox {
  position: relative;
}

.formBox input {
  width: 100%;
  padding: 15px 16px;
  text-indent: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
}

.formBox img {
  position: absolute;
  left: 15px;
  top: 15px;
}

.linkImgBox {
  width: 1100px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.cardBox {
  width: 353px;
  height: 339px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin: 40px 0;
}

.linkImg {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.textBox {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 10px;
  position: relative;
}

.description {
  margin: 0;
  height: 49px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.linkImg:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

.date {
  color: #333;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.time {
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
}

.케밥버튼 {
  position: absolute;
  right: 20px;
  top: 10px;
}
