header {
  width: 100%;
  padding: 10px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  background: var(--linkbrary-bg);

  @media (min-width: 768px) {
    padding: 20px 0px 60px 0px;
    gap: 1.2rem;
  }
}

.folder-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  @media (min-width: 768px) {
    gap: 1.2rem;
  }
}

.folder-owner-profile {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 16px 17px 16px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 47px;
  background: var(--primary-purple-70);

  @media (min-width: 768px) {
    width: 6rem;
    height: 6rem;
  }
}

.folder-owner-name {
  color: var(--text-color-light-mode);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 24px; /* 150% */
  }
}

.folder-name {
  margin-top: 0.4rem;
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;

  @media (min-width: 768px) {
    margin-top: 0.8rem;
    font-size: 4rem;
    letter-spacing: 0px;
  }
}
