
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


main > .color-bg {
  width: 100%;
  background: #F0F6FF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}