.cardListFrame {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  row-gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.5rem;
  }

  @media (min-width: 1124px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  @media (min-width: 1200px) {
  }
}

.optionBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.options {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.option {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  color: var(--linkbrary-gray-60);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
