.floatingBtn {
  position: fixed;
  left: 150px;
  bottom: 101px;

  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 20px;

  border-radius: 20px;
  border: 1px solid var(--linkbrary-white);
  background: var(--linkbrary-primary-color);
  z-index: 1;
  @media (min-width: 768px) {
    display: none;
  }
}

.floatingText {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--linkbrary-gray-10);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.fixedIcon {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
}
