.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 106rem;
  margin: auto;
}

.Main {
  margin: auto;
}

@media (min-width: 769px) and (max-width: 1123px) {
  .content-box {
    width: 70rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .content-box {
    width: 34rem;
  }
}
@media (max-width: 389px) {
  .content-box {
    padding: 32px;
  }
}
