.folder-info {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 6rem;
}

.folder-profile-image {
  width: 6rem;
  height: 6rem;
}

.folder-profile-name {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.folder-name {
  font-size: 4rem;
  font-weight: 600;
}

.folder-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 3.2rem;
}

.SearchBar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.SharedPage-folder-links {
  padding: 0;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 2rem;
}

.loading-error-message {
  font-size: 3rem;
  color: var(--red);
}

/* 태블릿 */
@media (max-width: 1124px) {
  .SharedPage-folder-links {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .SharedPage-folder-links {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }

  .loading-error-message {
    font-size: 2.5rem;
  }
}
