<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Linkbrary 로그인</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="sign.css">
  </head>
  <body>
    <!-- 로고 및 회원 가입하기 -->
    <header>
      <a href="../">
        <img class="header-logo" src="../images/logo.svg" alt="홈 화면으로 이동">
      </a>
      <div class="header-sign">
        <span class="left-word">회원이 아니신가요?</span>
        <a href="signup.html">
          <span class="right-word">회원 가입하기</span>
        </a>
      </div>
    </header>
    <!-- 이메일 및 비밀번호 칸 입력 -->
    <section>
      <label for="email">이메일</label>
      <input type="email"  class="sign-email">
      <label for="password">비밀번호</label>
      <input type="password" class="sign-password">
    </section>
    <!-- 로그인 버튼 및 소셜 로그인 -->
    <footer>
      <a class="footer-sign" href="../">
        <span>로그인</span>
      </a>
      <div class="footer-sign-box">
        <span class="footer-word">소셜 로그인</span>
        <div class="footer-logo">
          <a href="https://www.google.com/" target="_blank">
            <img src="../images/google-logo.png" class="social-logo">
          </a>
          <a href="https://www.kakaocorp.com/page/" target="_blank">
            <img src="../images/kakao-logo.png" class="social-logo">
          </a>
        </div>  
      </div>
    </footer>
  </body>
</html>
