header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--linkbrary-bg, #f0f6ff);
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4rem 19rem;
  max-width: 192rem;
  margin: 0 auto;
  gap: 4rem;
}

.search-result {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.8rem;
  letter-spacing: -0.2px;
  text-align: left;
  color: var(--linkbrary-gray-60);
}

.search-result strong {
  color: var(--linkbrary-gray-100);
}

.folders {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
}

.folders__folder-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.folders__folder-name {
  height: auto;
  color: #000;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.2px;
}

.folders__folder-edit {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.no-link {
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: center;
  align-items: center;

  color: #000;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem; /* 150% */
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: #111322;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

/* section 반응형 */
@media (max-width: 1199px) {
  section {
    padding: 4rem calc((100% - 78.32rem) / 2);
  }
}
@media (max-width: 864px) {
  section {
    padding: 4rem 3.2rem;
  }
}

/* 모바일 크기 */
@media (max-width: 767px) {
  section {
    padding: 2rem 3.2rem 4rem;
  }

  .folder-info {
    row-gap: 1.2rem;
  }

  .pages {
    grid-template-columns: 32.5rem;
    grid-auto-rows: 32.7rem;
    justify-content: center;
    row-gap: 2rem;
  }

  .footer-box {
    display: grid;
    grid-template-areas:
      'links sns'
      'copyright .';
    row-gap: 6rem;
    padding: 0 3.2rem;
  }

  .copyright {
    grid-area: copyright;
    font-weight: 400;
  }

  .footer-links {
    grid-area: links;
  }

  .footer-link {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

@media (min-width: 1124px) {
  .pages {
    grid-template-columns: repeat(3, minmax(22.87rem, 34rem));
    column-gap: 2rem;
  }
}
