.AddLinkBar-section {
  background-color: var(--background);
  width: 100%;
  height: 21.9rem;

  padding: 6rem 0 9rem 0;
}

.AddLinkBar-wrapper {
  margin: 0 3.2rem;
  display: flex;
  justify-content: center;
}

.FolderPage-section {
  margin: 0 3.2rem;
}

.SearchBar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FilterButton-container {
  display: flex;
  justify-content: center;
}

.FilterButton-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  width: 103rem;
  gap: 0.8rem;
}

button {
  border: none;
  background: none;
}

.add-icon {
  width: 1.6rem;
  height: 1.6rem;
}
