.AddLinkBar-section {
  background-color: var(--background);
  width: 100%;
  height: 21.9rem;

  padding: 6rem 0 9rem 0;
}

.AddLinkBar-wrapper {
  margin: 0 3.2rem;
  display: flex;
  justify-content: center;
}

.folder-links {
  margin: 0 3.2rem;
}

.SearchBar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
