.kebab_box {
  width: 100px;
  height: 70px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: 30px;
  background-color: var(--gray-light-gray-00, #fff);
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}

.kebab_box li {
  color: black;
  height: 35px;
  padding-top: 8px;
  list-style: none;
}

.kebab_box li:hover {
  background-color: var(--Linkbrary-gray10, #e7effb);
}
