.folder_list_box {
  width: 1100px;
  margin-top: 40px;
  height: 100%;
}

.folder_list_btn_box {
  display: flex;
  justify-content: space-between;
}

.folder_list_btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.folder_card_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  min-height: 100vh; /*새롭게 추가 */
}

.selected {
  background: var(--Linkbrary-primary-color, #6d6afe);
}

.add_btn{
  cursor: pointer;
}