.nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 3.3rem 20rem 3.2rem;
  background: var(--linkbrary-bg, #f0f6ff);

  @media screen and (max-width: 1199px) {
    display: grid;
    grid-template-columns: minmax(32px, auto) minmax(32px, 800px) minmax(
        32px,
        auto
      );
    padding: 33px 0;
  }
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1199px) {
    grid-column: 2/3;
  }
}
.header-logo-img {
  height: 2.4rem;
}

.userProfile-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  .userProfile-login-img {
    width: 2.8rem;
  }
}

.userProfile-login-email {
  color: var(--Linkbrary-gray100, #373740);
  font-size: 1.4rem;
  font-weight: 400;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
