html,
body {
  font-size: 62.5%;
}

.folderList {
  display: flex;
  gap: 8px;
}
.folderItem {
  font-size: 1.6rem;
  font-weight: 400;
  border: solid 1px;
  height: 35px;
  width: auto;
  padding: 8px 12px;
  border-radius: 5px;
  border-color: #6d6afe;
}
