.Star {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
}

.Kebab {
  position: absolute;
  top: 20.7rem;
  right: 2rem;

  @media (min-width: 768px) {
    top: 21.5rem;
  }
}
