.search {
  display: flex;
  width: 100%;
  padding: 1.5rem 1.6rem;
  align-items: center;
  gap: 1rem;

  border-radius: 1rem;
  background: #f5f5f5;
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  background: #f5f5f5;
}

.search-input::placeholder {
  color: var(--Text, #666);
  font-size: 1.6rem;
  line-height: 2.4rem; /* 150% */
}

.eraseKeyword {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: relative;
}

@media (max-width: 767px) {
  .eraseKeyword {
    width: 1.6rem;
    height: 1.6rem;
  }
}
