@import '../App.css';

.form {
  width: 1060px;
  padding: 40px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px 16px 15px 42px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 24px;
}

.search-icon {
  position: absolute;
  top: 59px;
  left: 16px;
}

@media (max-width: 1124px) {
  .form {
    width: calc(100vw - 64px);
  }
}
