.main {
  position: relative;
  z-index: 6;
}

.header {
  margin: 0 auto;
  padding: 60px 0 90px;
}

.linkBoard {
  background-color: #fff;
  padding: 40px 0 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container {
  max-width: 106rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: 1124px) {
  .container {
    max-width: 70.4rem;
  }
}
@media screen and (max-width: 756px) {
  .container {
    max-width: 32.5rem;
  }
}
