.card-component-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.main-section {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 32px;
}

.folder-edit-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.folder-add {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1124px) {
  .main-section {
    padding: 0 32px;
  }
}
