.card-list {
  width: 1060px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 100px;
}

.no-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.6rem;
  line-height: 24px;
  padding: 42px 0 35px 0;
}

@media (max-width: 1124px) {
  .card-list {
    width: calc(100vw - 64px);
  }
}
