.folderItem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.selected {
  border-radius: 8px;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nameText {
  color: var(--Linkbrary-gray100, #373740);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.countText {
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
