.searchBar {
  display: flex;
  width: 100%;
  height: 5.4rem;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchIcon {
  width: 16px;
  height: 16px;
}

.inputText {
  background: transparent;
  color: var(--Text, #666);
  text-align: left;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;

  &:focus {
    outline: none;
  }
}

.resetIcon {
  background-color: transparent;
  border: 0px;
  width: 24px;
  height: 24px;
  background-image: url("/public/assets/_close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
