.header {
    width: 100%;
    background: var(--Linkbrary-bg, #F0F6FF);
}

.header--container {
    padding: 33px 200px 32px;
    display: flex;
    justify-content: space-between;
}

.header__img img {
    width: 100%;
    height: 100%;
}

.header__profile {
    display: flex;
    align-items: center;
}

.header__profile img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
}

.header__profile div {
    color: var(--Linkbrary-gray100, #373740);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__btn-login {

    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 128px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}