.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--linkbrary-bg);
}

.nav.shared {
  position: relative;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.3rem;
  padding: 0 3.2rem;

  @media (min-width: 768px) {
    height: 9.2rem;
    max-width: 86.3rem;
  }

  @media (min-width: 1200px) {
    height: 9.4rem;
    max-width: 192rem;
    padding: 0 20rem;
  }
}

.logo {
  cursor: pointer;
  width: 133px;
  height: 24px;
}

.account-frame {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.email {
  display: none;
  color: var(--linkbrary-gray-100, #373740);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    display: inline;
  }
}

.login {
  display: flex;
  width: 80px;
  border-radius: 8px;
  background: linear-gradient(
    91deg,
    var(--linkbrary-primary-color) 0.12%,
    #6ae3fe 101.84%
  );

  color: #f5f5f5;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
