.add-link-bar-container {
  background-color: #f0f6ff;
}

.add-bar {
  display: flex;
  width: 800px;
  height: 37px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
}

.add-input-section {
  position: relative;
}

.add-bar::-webkit-input-placeholder {
  background-image: url(link.png);
  background-size: contain;
  background-position: 1px center;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: 0;
  padding-left: 25px;
}

.add-link-input-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 90px;
}

.add-button {
  right: 20px;
  top: 17px;
  position: absolute;
  display: flex;
  width: 80px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  border: none;

  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}

@media (max-width: 1124px) {
  .add-link-input-section {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 780px) {
  .add-link-input-section {
    width: 340px;
    margin: 0 auto;
  }
}

@media (max-width: 1124px) {
  .add-bar {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 780px) {
  .add-bar {
    width: 340px;
    margin: 0 auto;
  }
}
