input::placeholder {
  color: var(--gray60);
}

.AddLinkBar {
  width: 80rem;
  height: 6.9rem;
  border: 0.1rem solid var(--primary);
  border-radius: 1.5rem;
  padding: 1.6rem 2rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.AddLinkBar-icon {
  width: 2rem;
  height: 2rem;
}

.AddLinkBar-input {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  margin-left: 1.2rem;
}

.AddLinkBar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3.7rem;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--white);
}

.AddLinkBar-input:focus {
  outline: none;
}

@media (max-width: 767px) {
  .AddLinkBar-button {
    width: 13rem;
    height: 5rem;
    font-size: 1.6rem;
  }
}
