.folder-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px;
}

.contents-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;
}

@media (max-width: 1199px) {
  .folder-area-container {
    padding: 40px 32px;
  }
  .card-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 24px;
  }
}

@media (max-width: 767px) {
  .folder-area-container {
    padding: 20px 32px;
  }
  .contents-box {
    gap: 32px;
  }
  .card-box {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
