.form-container {
    margin-top: 9.3rem;
    padding: 6rem 3.2rem 9rem;
    background-color: var(--Linkbrary-bg);
}
.add-link-form {
  display: flex;
  margin:0 auto;
  padding: 1.6rem 2rem;
  width: 80rem;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
}

.add-link-input {
  background-image: url("../assets/link.svg");
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--color-gray-60);
  width: 100%;
  padding-left: 3.2rem;
  border-style: none; 
  line-height: 2.4rem;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.6rem;
  width: 8rem;
  color: #f5f5f5;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  border-style: none;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--Grey-Light, #f5f5f5);
  font-weight: 600;
  font-family: 'pretendard';
}
