:root {
  --linkbrary-bg: #f0f6ff;
  --Linkbrary-gray100: #373740;
  --text-color-light-mode: #000;
  --input-bg: #f5f5f5;
  --gray1: #666;
  --gray2: #333;
  --the-julge-black: #111322;
  --gray3: #676767;
  --gray4: #cfcfcf;
}
