.folder-list-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}

.folder {
  padding: 8px 12px;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: #fff;
}

.folder-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.folder-add-box {
  display: flex;
}

.folder-add-box input {
  border: none;
}

@media screen and (max-width: 767px) {
  .folder-add-box {
    padding: 8px 24px;
    position: fixed;
    z-index: 1;
    bottom: 101px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    border: 1px solid var(--Linkbrary-white, #fff);
    background: var(--Linkbrary-primary-color, #6d6afe);
  }
  .folder-add-box input {
    background: var(--Linkbrary-primary-color, #6d6afe);
  }
  .folder-add-box img {
    filter: brightness(0%);
  }
}
