.search-bar {
  width: 100%;
  max-width: 106rem;
  margin: 4rem auto;
  padding: 1.5rem 1.6rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  display: flex;
}

.search {
  width: 100%;
  border-style: none;
  color: #666666;
  background-color: inherit;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  align-items: center;
  padding-left: 2.6rem;
}

.search:focus {
  outline: none;
}

.search-result-bar {
  display: block;
  max-width: 106rem;
  margin: 0 auto 4rem;
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.search-result-highlight {
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

@media (max-width: 1123px) {
  .search-bar {
    max-width: 70.4rem;
  }
  .search-result-bar {
    max-width: 70.4rem;
  }
}

@media (max-width: 767px) {
  .search-bar {
    max-width: 32.5rem;
  }
  .search-result-bar {
    max-width: 32.5rem;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
}
