.card-container {
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.16);
}

.card {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;

  border-radius: 1.5rem;
}

.card .image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
}

.star {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.card .preview {
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;

  object-fit: cover;
}

.card .image.default {
  background: #dddfff;
}

.card .default-image {
  object-fit: none;
}

.card:hover .preview {
  transform: scale(1.3);
}

.card:hover .card-info {
  background: var(--linkbrary-bg, #f0f6ff);
}

.card-info {
  display: flex;
  width: 100%;
  height: 13.5rem;
  padding: 1.5rem 2rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0px 0px 1.5rem 1.5rem;
  background: #fff;
}

.time-difference {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.upload-ago {
  color: #666;
  font-size: 1.3rem;
}

.description {
  height: 4.9rem;
  align-self: stretch;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  line-height: 2.4rem; /* 150% */
}

.upload-date {
  height: 19px;
  align-self: stretch;

  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

@media (max-width: 767px) {
  .card .image {
    height: 19.2rem;
  }
}
