.link-list {
    display: grid;
    grid-template-rows: repeat(3, 340px);
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
}

.link {
    box-sizing: border-box;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
    border-radius: 15PX;
    overflow: hidden;
    position: relative;
    width: 340px;
    height: 334px;
}

.link__img img {
    width: 100%;
    height: 100%;
}

.link__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 135px;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    background: #FFF;
}

.link__content--time-passed {
    color: #666;
    font-family: Pretendard;
    font-size: 13px;
}

.link__content--description {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;

    /* 150% */
}

.link__content--createdAt {
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 14px;
}

/* tablet */
@media (max-width:1199px) {
    .link-list {
        display: grid;
        grid-template-columns: repeat(2, 340px);
        gap: 24px;
    }
}

/* smartPhone */
@media (max-width:767px) {
    .link-list {
        display: grid;
        grid-template-columns: 100%;
        gap: 24px;
    }

    .link {
        width: auto;
    }

    .link__img {
        width: 100%;
        height: auto;
    }
}