.modal_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal_title {
  width: 100%;
  margin-top: 0;
  display: inline-block;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
}

.modal_folder_name{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;

}

.modal_input {
  width: 100%;
  margin-top: 24px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
}

.modal_btn {
  width: 100%;
  padding: 16px 20px;
  margin-top: 30px;
  border-radius: 8px;
  border: none;
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}

.modal_closebtn {
  width: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

/* 모달버튼 색 타입 */
.modal_btn_blue {
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}

.modal_btn_red {
  background: #ff5b56;
}

/* snsicon */

.sns_wrapper {
  width: 100%;
  height: 65px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: white;
  font-size: 14px;
  margin-top: 50px;
}

.sns_img_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.style_wrapper {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.kakao_img_color {
  background-color: yellow;
}

.facebook_img_color {
  background-color: #1877f2;
}

.link_img_color {
  background-color: #e7effb;
}
