html,
body {
  font-size: 62.5%;
}

.folderListArea {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.addFolderButton {
  width: 16px;
  height: 16px;
  margin-top: 23.5px;
  cursor: pointer;
}

.folderList {
  display: flex;
  gap: 8px;
}
.folderItem {
  font-size: 1.6rem;
  font-weight: 400;
  border: solid 1px;
  height: 35px;
  width: auto;
  padding: 8px 12px;
  border-radius: 5px;
  border-color: #6d6afe;
  cursor: pointer;
}
.folderItem:hover {
  background-color: #6d6afe;
  color: #ffffff;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .folderList {
    display: flex;
    gap: 8px;
    flex-flow: row wrap;
    width: 100%;
  }

  .folderItem {
    margin: 0;
  }

  .addFolderButton {
    display: none;
  }
}
