.contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contents-card {
  display: flex;
  flex-direction: column;
  width: 34rem;
  height: 33.4rem;
  list-style-type: none;
  border-radius: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.contents-card:hover .contents-card-box-image {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.contents-card:hover .contents-card-box-detail {
  background-color: #f0f6ff;
}

.contents-card-box {
  width: 34rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.contents-card-box-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contents-card-box-bookmark {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.contents-card-box-detail {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}

.contents-card-box-change {
  display: flex;
  justify-content: space-between;
  height: 1.6rem;
  margin-bottom: 1.1rem;
}

.current-to-created {
  font-size: 1.3rem;
  font-weight: 400;
  height: 1.6rem;
  margin-bottom: 1.1rem;
  color: #666;
}

.descriptions {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  height: 4.9rem;
  margin-bottom: 1rem;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-date {
  font-size: 1.4rem;
  font-weight: 400;
  height: 1.9rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.1rem 0 3.5rem 0;
}
