.footer-section {
  display: flex;
  background-color: #111322;
  align-items: center;
  justify-content: space-between;
  padding: 32px 104px 64px 104px;
  margin-top: 40px;
  height: 160px;
  box-sizing: border-box;
}

.footer-font-style {
  font-size: 16px;
  font-weight: 400;
}

.footer-first-section {
  color: #676767;
}

.footer-second-section {
  color: #676767;
}

.footer-second-section-wrap {
  display: flex;
  gap: 30px;
}

.footer-third-section {
  display: flex;
  gap: 12px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1124px) {
  .footer-second-section {
    color: #cfcfcf;
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 780px) {
  .footer-section {
    padding: 32px 32px 64px 32px;
    flex-wrap: wrap;
  }

  .footer-first-section {
    order: 3;
  }

  .footer-second-section {
    order: 1;
  }

  .footer-third-section {
    order: 2;
  }
}
