footer {
  z-index: 0;
  display: flex;
  height: 28rem;
  padding-top: 12rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 16rem;
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  background: var(--black);
}

.copyright,
.footer-links {
  font-size: 1.6rem;
  font-weight: 400;
}

.copyright {
  color: var(--gray60);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  color: var(--white);
  place-content: start center;
  text-align: center;
}

.sns {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  place-content: start end;
  gap: 1.2rem;
}

/* 모바일 */
@media (max-width: 767px) {
  footer {
    padding-top: 4rem;
    height: 0;
  }

  .footer-container {
    padding: 3.2rem;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 6rem;
  }

  .copyright {
    grid-area: 2 / span 1;
  }

  .footer-links {
    place-content: start;
  }

  .sns {
    grid-column: 3;
  }
}
