.searchbar-box {
  position: relative;
  width: 100%;
}

.searchbar {
  width: 100%;
  padding: 1.3rem 3.8rem 1.3rem 4.2rem;

  @media screen and (min-width: 768px) {
    padding: 1.5rem 1.6rem 1.5rem 4.2rem;
  }
}

.searchbar-icon {
  content: url('/public/images/shared/magnifier.svg');
  width: 1.6rem;
  height: 1.6rem;

  position: absolute;
  top: 50%;
  left: 1.6rem;
  translate: 0 -50%;
}
