@import "./global.css";

html {
  font-weight: 600;
  color: var(--black);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  padding: 2rem 20rem;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  align-self: stretch;
  background: var(--background);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--gray-10);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#logo {
  width: 13.3rem;
  height: 2.4rem;
}

.login,
.signup {
  display: flex;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--gray-10);
  gap: 1rem;
  border-radius: 0.8rem;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  font-size: 1.8rem;
}

.login {
  width: 12.8rem;
}

main {
  width: 100%;
  z-index: 0;
}

.headline {
  display: flex;
  padding: 7rem 36rem 0rem 36rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  background: var(--background);
}

.headline-title {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem; /* 125% */
}

.headline-title .title-em {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup {
  width: 35rem;
}

.image-rayer {
  width: 111.8rem;
  height: 65.9rem;
  flex-shrink: 0;
  border-radius: 2.5rem;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 67.68%, #f0f6ff 94.76%);
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 46.1rem 5rem 46.1rem;
}

.description-container {
  display: grid;
  grid-template: repeat(2, 1fr) / min(29.3rem) min(55rem);
  column-gap: 15.7rem;
}

.description-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

.description-title .title-em {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-content {
  margin-top: 0.5rem;
  grid-row: 2 / 3;
  color: var(--gray-80);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%; /* 24px */
}

.content-image {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 55rem;
  height: 45rem;
}

.description.reverse .description-container {
  grid-template: repeat(2, 1fr) / min(55rem) min(29.3rem);
}

.description.reverse .description-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.description.reverse .description-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.description.reverse .content-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.description-title .title-em.yellow {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.03rem;
}

.description-title .title-em.blue {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-em.rightblue {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  z-index: 0;
  display: flex;
  height: 28rem;
  padding-top: 12rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 16rem;
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  background: var(--black);
}

.copyright,
.sub-pages {
  font-size: 1.6rem;
  font-weight: 400;
}

.copyright {
  color: var(--gray-60);
}

.sub-pages {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  color: var(--white);
  place-content: start center;
  text-align: center;
}

.sns {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  place-content: start end;
  gap: 1.2rem;
}

/* 태블릿 */
@media (max-width: 1199px) {
  header {
    display: grid;
    grid-template-columns: minmax(3.2rem, auto) minmax(auto, 78.5rem) minmax(3.2rem, auto);
    padding: 2rem 0;
  }

  .header-container {
    grid-column: 2 / span 1;
  }

  .headline {
    padding: 3.9rem 13rem 0 13rem;
  }

  .description-container {
    grid-template: repeat(2, 1fr) / min(28rem) min(38.5rem);
    column-gap: 5.1rem;
  }

  .description.reverse .description-container {
    grid-template: repeat(2, 1fr) / min(38.5rem) min(28rem);
  }

  .image-rayer {
    width: 65rem;
    height: 38rem;
  }

  .content-image {
    width: 38.5rem;
    height: 31.5rem;
  }

  .description {
    padding: 8rem 25rem 5rem 25rem;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  #logo img {
    width: 8.8rem;
    height: 1.6rem;
  }

  .login,
  .signup {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }

  .login {
    width: 8rem;
  }

  .headline {
    padding: 2.8rem 3.2rem 0 3.2rem;
    gap: 2.4rem;
  }

  .headline-title {
    font-size: 3.2rem;
    line-height: 42px;
  }

  .signup {
    width: 20rem;
  }

  .image-rayer,
  .content-image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .description {
    padding: 4rem 3.2rem 3.6rem 3.2rem;
  }

  .description-container,
  .description.reverse .description-container {
    grid-template-rows: 6rem 1fr 6rem;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .description-title,
  .description.reverse .description-title {
    font-size: 2.4rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .description-content,
  .description.reverse .description-content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .content-image,
  .description.reverse .content-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  footer {
    padding-top: 4rem;
    height: 0;
  }

  .footer-container {
    padding: 3.2rem;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 6rem;
  }

  .copyright {
    grid-area: 2 / span 1;
  }

  .sub-pages {
    place-content: start;
  }

  .sns {
    grid-column: 3;
  }
}
