@import "./global.css";

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--linkbrary-bg);
  padding: 120px 32px 232px 32px;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 400px;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 210.583px;
  height: 38px;
}

.link-box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.text {
  color: var(--black, #000);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.linktext {
  color: var(--linkbrary-primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.input-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.eye-icon {
  position: absolute;
  top: 51px;
  right: 15px;
  width: 16px;
  height: 16px;
}

.form-name,
.input-check {
  color: var(--black, #000);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-input {
  display: flex;
  width: 100%;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);

  color: var(--linkbrary-gray-100);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.form-input:focus {
  border-color: var(--linkbrary-primary-color);
  outline: none;
}

.input-check {
  position: relative;
  bottom: 6px;
  color: var(--linkbrary-red);
}

.form-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-btn-gradient {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(
      91deg,
      var(--linkbrary-primary-color) 0.12%,
      #6ae3fe 101.84%
    )
  );
  border: 0px;

  color: var(--grey-light, #f5f5f5);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-login-box {
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

.social-login-text {
  color: var(--linkbrary-gray-100);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.social-icon {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

/*tablet pc*/
@media (min-width: 768px) {
  body {
    padding: 200px 0px 290px 0px;
  }
}
