.sign--wrap {
    width: 100vw;
    height: 100vh;
    background: var(--linkbrary-bg, #F0F6FF);
    display: flex;
    justify-content: center;
    padding-top: 238px;
}

.sign {
    width: 400px;
    height: 394px;
}

.sign__header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sign__header--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign__header--container-logo {
    width: 210.583px;
    height: 38px;
    display: flex;
    justify-content: center;
}

.sign__header--container-register,
.sign__header--container-login {
    margin-top: 16px;
}

.sign__header--container-register>span,
.sign__header--container-login>span {
    display: inline-block;
    width: 123px;
    height: 24px;
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.sign__header--container-register>a,
.sign__header--container-login>a {
    border-bottom: 1px solid var(--linkbrary-primary-color, #6D6AFE);
    color: var(--linkbrary-primary-color, #6D6AFE);
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
    bottom: 4px;
    margin-left: 8px;
}

.form-sign__input-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-sign__input-email>label,
.form-sign__input-password>label {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

/* 클릭시 색깔이 바뀌어야한다!! */
.form-sign__input-email>input,
.form-sign__input-password input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    padding: 18px 15px;
    color: var(--linkbrary-gray-100, #373740);
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: var(--linkbrary-white, #FFF);
    margin-top: 12px;
}

.form-sign__input-email>input:focus,
.form-sign__input-password input:focus {
    border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
}

.form-sign__input-password {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.password__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.password__btn-eye-off {
    display: flex;
    align-items: center;
    position: absolute;
    top: 33px;
    right: 18px;
}

.password__btn-eye-off img {
    width: 16px;
    height: 16px;
}

.form-sign__btn-sign {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    padding: 16px 20px;
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    margin-bottom: 32px;
}

.form-sign__social-sign {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
}

.form-sign__social-sign>span {
    color: var(--linkbrary-gray-100, #373740);
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
}

.link-social-sign {
    display: flex;
}

.link-social-sign>a {
    width: 42px;
    height: 42px;
}

.link-social-sign-google {
    background-image: url(../img/google-icon__background.svg);
    margin-right: 16px;
}

.link-social-sign-kakao {
    background-image: url(../img/kakao-icon__backgound.svg);
}

.link-social-sign-google img {
    position: relative;
    inset: 10px;
}

.link-social-sign-kakao img {
    position: relative;
    inset: 8px;
    top: 10px;
}

@media (max-width:1200px) {
    .sign--wrap {
        padding-top:200px;
    }
}

@media (max-width:464px) {
    .sign--wrap {
        padding-top:120px;
    }
    .sign {
        max-width: 400px;
        margin: 0 32px;
    }
}