:root {
  --linkbrary-primary-color: #6d6afe;
  --linkbrary-red: #FF5B56;
  --the-julge-black: #111322;
  --linkbrary-white: #FFF;
  --linkbrary-gray-100: #373740;
  --linkbrary-gray-60: #9FA6B2;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-gray-10: #E7EFFB;
  --linkbrary-bg: #F0F6FF;
}

body {
  display: flex;
  width: 100%;
  padding: 23.8rem 0 11.6rem 0;
  justify-content: center;
  align-items: center;

  background: var(--linkbrary-bg);
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.linkbrary-logo {
  width: 21.0583rem;
  height: 3.8rem;
}

.goto-signin {
  display: flex;
  gap: 0.8rem;
}

.goto-signin>span {
  color: var(--black, #000);

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.goto-signin>a {
  color: var(--linkbrary-primary-color);

  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

label {
  color: var(--black, #000);

  /* Linkbrary/body2-regular */
  font-size: 1.4rem;
  font-weight: 400;
}

.password-eye {
  position: relative;
}

.password-eye img {
  cursor: pointer;
}

input {
  display: flex;
  width: 40rem;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);
}

input:focus {
  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-primary-color);
  background: var(--linkbrary-white);
  outline: none;
}

.password-eye>img {
  position: absolute;
  right: 1.5rem;
  top: 1.8rem;
  bottom: 1.8rem;
}

button {
  display: flex;
  width: 40rem;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  cursor: pointer;

  color: var(--grey-light, #F5F5F5);
  font-size: 1.8rem;
  font-weight: 600;

  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

footer {
  display: flex;
  width: 40rem;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

footer>span {
  color: var(--linkbrary-gray-100);

  font-size: 1.4rem;
  font-weight: 400;
}

.icons {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.google,
.kakao {
  width: 4.2rem;
  height: 4.2rem;
  flex-shrink: 0;
}