.link-card {
  width: 100%;

  border-radius: 1.5rem;
  overflow: hidden;

  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);

  cursor: pointer;
}

.link-card:hover .link-image {
  scale: 1.3;
}
.link-card:hover .link-text-box {
  background: var(--Linkbrary-bg, #f0f6ff);
}

.card-image-box {
  width: 100%;
  height: 19rem;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 20rem;
  }
}

.link-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 250ms ease-in;
}

.link-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 100%; /* link-text-box(h = 100%) = link-card(h) - card-image-box(h) */
  padding: 1.5rem 2rem;
}

.link-timeAgo {
  color: #666;
  font-family: Pretendard;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;

  align-self: flex-start;
}

.link-description {
  width: 100%;
  margin: 0;

  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */

  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: wrap; */
  word-break: break-all;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.link-createdAt {
  color: #333;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;

  align-self: flex-start;
}
