.folder {
  position: relative;
  text-align: center;
}
.mobileAddButton {
  bottom: 101px;
  position: fixed;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .mobileAddButton {
    display: block;
  }
}
