/* user agent stylesheet 초기화 */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pretendard';
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --linkbrary-primary-color: #6d6afe;
  --linkbrary-red: #ff5b56;
  --the-julge-black: #111322;
  --linkbrary-white: #fff;
  --linkbrary-gray-100: #373740;
  --linkbrary-gray-60: #9fa6b2;
  --linkbrary-gray-20: #ccd5e3;
  --linkbrary-gray-10: #e7effb;
  --linkbrary-bg: #f0f6ff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 19rem;
  max-width: 192rem;
  margin: 0 auto;
}

.pages {
  display: grid;
  grid-template-columns: repeat(2, 34rem);

  grid-auto-rows: 33.4rem;
  justify-content: space-between;
  width: 100%;

  row-gap: 2.5rem;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  margin-top: 6rem;
  background-color: #111322;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

/* section 반응형 */
@media (max-width: 1199px) {
  section {
    padding: 4rem calc((100% - 78.32rem) / 2);
  }
}
@media (max-width: 864px) {
  section {
    padding: 4rem 3.2rem;
  }
}

/* 모바일 크기 */
@media (max-width: 767px) {
  section {
    padding: 2rem 3.2rem 4rem;
  }

  .pages {
    grid-template-columns: 32.5rem;
    grid-auto-rows: 32.7rem;
    justify-content: center;
    row-gap: 2rem;
  }

  .footer-box {
    display: grid;
    grid-template-areas:
      'links sns'
      'copyright .';
    row-gap: 6rem;
    padding: 0 3.2rem;
  }

  .copyright {
    grid-area: copyright;
    font-weight: 400;
  }

  .footer-links {
    grid-area: links;
  }

  .footer-link {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

@media (min-width: 1124px) {
  .pages {
    grid-template-columns: repeat(3, minmax(22.87rem, 34rem));
    column-gap: 2rem;
  }
}
