:root {
  --color_primary: #6d6afe;
  --color_red: #ff5856;
  --color_black: #111322;
  --color_white: #ffffff;
  --color_gray_100: #3e3e43;
  --color_gray_60: #9fa6b2;
  --color_gray_20: #ccd5e3;
  --color_gray_10: #e7effb;
  --color_bg: #f0f6ff;
}

* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--color_bg);
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}
.wrap {
  max-width: 192rem;
  margin: 9.4rem auto 0;
}

.nav-bg{
  position: fixed;
  background-color: var(--color_bg);
}

.wrap .nav {
  margin: 0 auto;
  padding: 2rem 20rem;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 192rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color_bg);
  z-index: 2;
}

.highlight{
  -webkit-background-clip: text;
  color: transparent;
}

.login {
  width: 12.8rem;
  padding: 1.6rem 2rem;
  background-image: linear-gradient(90deg, var(--color_primary), #6ae3fe);
  font-size: 1.8rem;
  font-weight: 600;
  color: #f5f5f5;
  border-radius: 0.8rem;
  text-align: center;
}

.store-and-manage-section {
  padding: 7rem 36rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.main-mention {
  display: inline-block;
  color: #000000;
  width: 70.8rem;
  height: 16rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  margin: 0;
}

.main-mention .highlight {
  background-image: linear-gradient(90deg,var(--color_primary), #ff9f9f);
}

.add-link {
  margin: 0;
  padding: 1.6rem 2rem;
  width: 35rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #f5f5f5;
  border-radius: 0.8rem;
  background-image: linear-gradient(90deg, var(--color_primary), #6ae3fe);
}

.store-and-manage-section .container {
  position: relative;
  width: 120rem;
  height: 59rem;
  overflow: hidden;
}

.example-image {
  position: absolute;
  top: 8.5%;
  right: 3.4%;
  width: 111.8rem;
  height: 120%;
  box-shadow: 0rem 0.4rem 2.5rem 1.0rem #00000014;
  border-radius: 2.5rem;
}

.drop-shadow {
  position: absolute;
  top: 8.5%;
  right: 3.4%;
  width: 111.8rem;
  height: 120%;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 60%,
    rgba(196, 196, 196, 1)
  );
  border-radius: 2.5rem;
  z-index: 1;
}

.sections{
  width: 100%;
  height: 55rem;
  background-color: var(--color_white);
  padding: 5rem 46.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15.7rem;
}

.store-link-section {
  height: 62rem;
  padding-top: 12rem;
}

.sub-wrapper {
  width: 29.1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
}

.sub-wrapper .sub-mention {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

.sub-wrapper .description {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: rgba(107, 107, 107, 1);
}

.mobile-description{
  display: none;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: rgba(107, 107, 107, 1);
}

.image-container{
  position: relative;
  width: 55rem;
  height: 45rem;
  border-radius: 1.5rem;
  background-color:  var(--color_bg);
  flex-shrink: 0;
  overflow: hidden;
}

.image-container img{
  width: 100%;
  height: 100%;
}

.store-link-section .highlight {
  background-image: linear-gradient(90deg, #fe8a8a, #a4ceff);
}

.manage-folder-section{
  flex-direction: row-reverse;
}

.manage-folder-section .highlight {
  background-image: linear-gradient(270deg, #6fbaff, #ffd88b);
}

.search-link-section {
  flex-direction: row-reverse;
}
.share-link-section .highlight {
  background-image: linear-gradient(90deg, #6d7ccd 22%, #52888538);
}

.search-link-section .highlight {
  background-image: linear-gradient(270deg, #021f5e, #68e8f9);
}

.footer-space {
  width: 100%;
  padding-top: 12rem;
  background-color: var(--color_white);
}

footer {
  width: 100%;
  height: auto;
  padding: 3.2rem 10.4rem 6.4rem;
  background-color: var(--color_black);
  display: flex;
  justify-content: space-between;
}

.brand-year {
  font-size: 1.6rem;
  font-weight: 400;
  color: #676767;
}

.policy-and-faq a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #cfcfcf;
}

.policy-and-faq {
  text-decoration: none;
  display: flex;
  gap: 3rem;
}

.sns-link {
  display: flex;
  gap: 1.2rem;
}

/* 여기까지 index.html */

.login-page {
  max-width: 144rem;
  height: 98.2rem;
  margin: 0 auto;
  padding: 23.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

section{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 3rem;
}

.login-page .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.login-page .logo {
  width: 21rem;
  height: 3.8rem;
}

.not-user {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  display: flex;
  gap: 0.8rem;
}

.sign-up {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color_primary);
  line-height: 1.9rem;
}

.under-line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--color_primary);
}

.email-passwd-input {
  padding: 1.8rem 1.5rem;
  width: 40rem;
  line-height: 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--color_gray_20);
  color: var(--color_gray_100);
}

.error-border {
  border-color: var(--color_red);
}

.error-mention {
  display: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color_red);
  margin-top: -0.6rem;
}

.email-passwd-input:focus {
  outline: none;
  border-color: var(--color_primary);
}

.email-passwd-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.email-passwd {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.4rem;
}

.email-passwd .eye-off {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  right: 1.5rem;
  top: 5.1rem;
}

.login.long {
  width: 40rem;
}

.social-login {
  width: 40rem;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid rgba(204, 213, 227, 1);
  border-radius: 0.8rem;
  background-color: var(--color_gray_10);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color_gray-100);
}

.google-and-kakao-login {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.google-login {
  width: 2.2rem;
  height: 2.2rem;
}

.kakao-login {
  width: 2.6rem;
  height: 2.4rem;
}

.bg {
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg.google {
  background-image: url(../images/google-icon-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.bg.kakao {
  background-image: url(../images/kakao-icon-bg.svg);
}

@media(max-width: 1199px){
  .wrap{
    max-width: 100%;
  }

  .nav-bg{
    width: 100%;
    height: 9.3rem;
    top: 0;
    z-index:1;
  }

  .wrap .nav{
    max-width: 86.4rem;
    padding: 2rem 3.2rem;
    left: 0;
    right: 0;
  }

  .store-and-manage-section{
    padding: 4rem 25rem 0;
  }

  .store-and-manage-section .container{
    width: 69.8rem;
    height: 34.3rem;
  }

  .main-mention{
    width: 47.2rem;
    height: auto;
  }

  .store-and-manage-section .example-image{
    width: 65rem;
    height: 120%;
  }

  .drop-shadow{
    width: 65rem;
    height: 120%;
  }

  .sections{
    width: 100%;
    height: 41.5rem;
    padding: 5rem 25rem;
    gap: 5.1rem;
  }

  .store-link-section{
    height: 44.5rem;
    padding-top: 8rem;
  }

  .sub-wrapper{
    width: 26.2rem;
  }

  .image-container{
    width: 38.5rem;
    height: 31.5rem;
  }

  .login-page{
    max-width: 119.9rem;
    padding: 20rem 0;
  }
}

@media(max-width: 767px){
  .wrap{
    max-width: 100%;
    margin: 6.3rem auto 0;
  }

  .wrap .nav{
    padding: 1.3rem 3.2rem;
    max-width: 100%;
  }

  .nav-bg{
    display: none;
  }
  
  .wrap .logo{
    width: 8.86rem;
    height: 1.6rem;
  }

  .wrap .login{
    width: 8rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    line-height: 1.671rem;
  }
  .store-and-manage-section{
    padding:2.8rem 3.2rem 0;
    gap: 2.4rem;
  }

  .main-mention{
    width: 23.6rem;
    height: auto;
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .add-link{
    padding: 1rem 1.6rem;
    width: 20rem;
    font-size:1.4rem;
  }

  .store-and-manage-section .container{
    width: 32.5rem;
    height: 16rem;
  }
 
  .store-and-manage-section .example-image{
    width: 30rem;
    height: 120%;
    box-shadow: 0rem 0.4rem 1.2rem 0rem #00000014;
  }

  .drop-shadow{
    width: 30rem;
    height: 120%;
  }

  .sections{
    width: 100%;
    height: auto;
    padding: 4rem 3.2rem;
    flex-direction: column;
    gap: 2rem;
    display: grid;
  }

  .sub-wrapper{
    width: 100%;
  }

  .sub-wrapper .sub-mention{
    font-size: 2.4rem;
    line-height: 2.854rem;
  }

  .sub-wrapper .description{
    display: none;
  }

  .mobile-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .mobile-description{
    display: inline;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .image-container{
    width: 100%;
    height: auto;
  } 

  .footer-space{
    padding-top: 4rem;
  }

  footer{
    padding: 3.2rem 3.2rem 3.2rem;
    display: grid;
    grid-template-areas: 
    "policy-and-faq sns-link"
    "brand-year sns-link";
    row-gap: 6rem;
  }

  .brand-year{
    grid-area: brand-year;
  }

  .policy-and-faq {
    grid-area: policy-and-faq;
    
  }
  
  .sns-link {
    grid-area: sns-link;
  }

  .login-page{
    max-width: 40rem;
    padding: 12rem 3.2rem;
  }

  section{
    width: 100%;
  }
  
  .email-passwd-input{
    width: 100%;
  }

  .login.long {
    max-width: 100%;
  }

  .social-login {
    max-width: 100%;
  }

}
