header {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 2rem 20rem;
  background: var(--background);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--gray10);
}

#logo {
  width: 13.3rem;
  height: 2.4rem;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.user-image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 9999px;
}

.user-email {
  font-size: 1.4rem;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--gray10);
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
  font-size: 1.8rem;
  width: 12.8rem;
}

/* 태블릿 */
@media (max-width: 1199px) {
  header {
    display: grid;
    grid-template-columns: minmax(3.2rem, auto) minmax(auto, 78.5rem) minmax(3.2rem, auto);
    padding: 2rem 0;
  }

  .header-container {
    grid-column: 2 / span 1;
  }
}
